*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:focus {
  outline: none;
}

body {
  min-height: 100vh;
  background: hsl(237deg, 74%, 11%);
  color: white;
}

header {
  background-color: transparent;
  min-height: 2vh;
}

main {
  position: relative;
  margin: 0 2vh;
  min-height: 96vh;
  border-bottom: 2px solid red;
  border-top: 2px solid red;
}

:root {
  --player-height: 5rem;
}

.player1,
.player2 {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 5rem;
}

.player1 {
  left: 0;
  background-color: white;
}

.player2 {
  right: 0;
  background-color: white;
}

.ball {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsl(40deg, 100%, 50%);
}

p {
  display: block;
  margin: 2vmin 0;
  padding: 2vmin;
  text-align: center;
}

.controls-info {
  font-weight: 100;
  margin-top: 0;
  color: hsla(0deg, 100%, 100%, 0.5);
  line-height: 2;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}